html, body { height: 100%; }

@media screen and (max-width: 800px) {
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  p {
    font-size: 8px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.main-container {
  width: 50%;
  height: 75%;
  min-width: 50%;
  min-height: 50%;
  background-image: linear-gradient(#b3b3ff, #6666ff);
  box-shadow: 0px 0px 30px 5px #000000;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 1%;
}

.card {
  display: flex;
  width: 23%;
  height: 23%;
  background-color: #000066;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px #000000;
  align-items: center;
  justify-content: center;
}

.flipped-card {
  display: flex;
  width: 23%;
  height: 23%;
  background-color: red;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px #000000;
  align-items: center;
  justify-content: center;
}

.hide-img {
  display: none;
}

.show-img {
  display: flex;
}

.total {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#80e1ff, #e6f9ff);
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 20%;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu Mono';
  flex-direction: column;
}

.accesories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30%;
}

.restart-button {
  width: 32px;
  height: 32px;
}

.restart {
  display: flex;
  height: 100%;
  min-width: 25%;
  align-items: center;
  justify-content: flex-end;
}

.stars-moves {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 50%;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 25%;
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 25%;
  font-family: 'Ubuntu Mono';
}

.moves {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 25%;
  font-family: 'Ubuntu Mono';
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  font-family: 'Ubuntu Mono';
  height: 50%;
  display: flex;
  flex-direction: column;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
  align-items: flex-end;
  justify-content: flex-end;
}

.game-finished {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  font-family: 'Ubuntu Mono';
  align-items: center;
  justify-content: center;
  font-size: 100%;
  font-weight: bold;
}

.play-again {
  min-height: 30%;
  background-color: #80e1ff;
  border-radius: 5px;
  font-family: 'Ubuntu Mono';
}

.finished-text {
  min-height: 70%;
  width: 100%;
  text-align: center;
}

.stars-finished {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 75%;
  justify-content: space-evenly;
}
