<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Art</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  </head>
  <body class="hero is-light">
    <section class="hero is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="is-main-title title">
            Jenaro Calviño
          </h1>
          <h2 class="is-main-subtitle subtitle">
            Fullstack developer
          </h2>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="box">
        <div class="box-title">
          <a class="go-back" href="../index.html">Go back!</a>
          <h1 class="draw-title title">just some drawings</h1>
        </div>
        <div class="columns no-gap">
          <div class="column">
            <img src="/img/demonhead.jpeg" alt="DEMONHEAD">
            <img src="/img/family.png" alt="FAMILY">
            <img src="/img/lakelady.png" alt="LAKELADY">
          </div>
          <div class="column">
            <img src="/img/robotita.png" alt="ROBOTITA">
            <img src="/img/sleeping.png" alt="SLEEPING">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
