<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Effective JavaScript: Frogger</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="./css/master.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>
<body class="is-light">
    <section class="hero is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="is-main-title title">
            Jenaro Calviño
          </h1>
          <h2 class="is-main-subtitle subtitle">
            Fullstack developer
          </h2>
        </div>
      </div>
      <a href="../index.html">Go back!</a>
    </section>
    <!-- The Modal -->
    <div id="lostModal" class="modal">

      <!-- Modal content -->
      <div id="modalContentId" class="modal-content">
        <p class="lost-text">
          You lose!
        </p>
      </div>

    </div>
    <script src="../src/resources.js"></script>
    <script src="../src/froggerApp.js"></script>
    <script src="../src/engine.js"></script>
</body>
</html>
