<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Memory Game!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu Mono' rel='stylesheet'>
    <link rel="stylesheet" href="../css/memcss.css">
    <!-- <link rel="stylesheet" media="screen and (max-width: 800px)" href="css/master800.css" /> -->
  </head>
  <body>

    <div class="total">

      <!-- Title, rating, moves and button -->

      <div class="text-container">

        <!-- Title -->

        <div class="title">
          <h1>Memory Game!</h1>
          <a href="../index.html">Go back!</a>
        </div>

        <!-- rating, moves and button -->

        <div class="accesories">
          <div id="stars-container" class="stars">
            <img width="15px" height="15px" class="star" src="../img/star.png" alt="stars">
            <img width="15px" height="15px" class="star" src="../img/star.png" alt="stars">
            <img width="15px" height="15px" class="star" src="../img/star.png" alt="stars">
            </div>
          <div class="moves">
            <p id="moves"></p>
          </div>
          <div class="timer">
            <p id="timer">Timer</p>
          </div>
          <div class="restart">
            <input class="restart-button" type="image" src="../img/restart-button.png" />
          </div>
        </div>

      </div>

      <!-- Game container -->

      <div id="main-container" class="flex main-container">

      </div>

      <!-- The Modal -->
      <div id="modalId" class="modal">

        <!-- Modal content -->
        <div id="modalContentId" class="modal-content">
          <div class="close-row">
            <span class="close">&times;</span>
          </div>
          <div class="game-finished">
            <button class="play-again" onclick="resetGame()" type="button" name="button">Play again!</button>
            <p class="finished-text"></p>
          </div>
        </div>

      </div>
    </div>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="../src/memApp.js" charset="utf-8"></script>
  </body>
</html>
